html {
  background: #212121;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

body {
  margin: 0;
  flex: 1 1 0;
  flex-direction: column;
  display: flex;
}

#react-mount {
  flex: 1 1 0;
  flex-direction: column;
  display: flex;
}

input:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 5000s;
  }
}

a {
  text-decoration: none;
}

.list-item--selected {
  background: rgba(255, 214, 0, 0.5) !important;
}

.toggleable-filters {
  overflow: hidden;
  transform-origin: top;
  transition: max-height 0.3s ease;

  &.toggled-on {
    max-height: 105px;
  }

  &.toggled-off {
    max-height: 0;
  }
}

@media (min-width: 320px) { /* smartphones, iPhone, portrait 480x320 phones */

}

@media (min-width: 481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

}

@media (min-width: 641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}

@media (min-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
  body {
    margin: 7px 15%;
  }
}

@media (min-width: 1281px) { /* hi-res laptops and desktops */

}
